body {
    font: bold 10px Montserrat, sans-serif ;
}
.wrapper {
    width: 144em;
    height: 3400px;
    position: relative;
    top: -17px;
    overflow:hidden
}

header {
    position: relative;
    display: inline-flex;
    width: 89em;
    justify-content: space-between;
    top: 4.3em;
    left: 24.7em;
    z-index: 5;
    letter-spacing: 0.07em;
    color: #ffffff;
}

.header-logo {
    text-transform: uppercase;
    float: left;
}

.header-logo > h3 {
    font-size: 2em;
}

.header-menu {
    float: right;
    position: relative;
    top: 1.2em;
    left: 5.2em;
}

.header-menu button {
    background: inherit;
    font-size: 1.4em;
    font-weight: 600;
    height: 2.6em;
    border-radius: 1.56em;
    color: #fff;
    text-transform: capitalize;
}

.header-menu__log-in {
    border: none;
    width: 5.4em;
}

.header-menu__sing-up {
    border: 0.16em solid;
    width: 6.4em;
}

h1 {
    position: absolute;
    display: none;
}

.promo {
    background: no-repeat url(../img/promo_background.jpeg);
/*     height: 100%; */
    min-height: 700px;
    max-width: 1440px;
    position: relative;
    top: -9em;
    color: #ffffff;
}

.presentation {
    width: 51em;
    text-align: center;
    position: relative;
    top: 21.4em;
    left: 46.1em;
}

.presentation-description__heading {
    font-size: 5.2em;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

.presentation-description__description {
    font: 2.4em Roboto, sans-serif;
    margin-top: 0.94em;
    letter-spacing: 0.002em;
    padding-left: 0.3em;
}

.presentation__button {
    border: 0;
    background-color: #FF4E50;
    margin-top: 0.7em;
    height: 2.9em;
    width: 16.1em;
    border-radius: 2em;
    margin-right: -0.68em;
    font: bold 1.4em Montserrat, sans-serif;
    letter-spacing: -0.024em;
    padding-left: 0.1em;
    color: #ffffff;
}

main{
    background-color: #fff;
    position: relative;
    top: -8em;
}

.how-it-works {
    width: 110em;
    height: 50em;
    position: inherit;
    top: 9em;
    margin: 0 auto;
}

.how-it-works__heading {
    text-align: center;
    font-size: 2.13em;
    margin-top: -0.3em;
    letter-spacing: -0.003em;
    margin-left: -0.1em;
}

.dreamshare-description{
    display: inline-flex;
    justify-content: space-between;
    width: 94em;
    position: relative;
    left: 8em;
    top: 1.4em;
}

.step {
    width: 30em;
    height: 40em;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
}

.step__wrapper {
    padding: 0 1.5em 0 2em;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.0) 100%);
    border-radius: 0 0 0.5em 0.5em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.step__number {
    background-color: #FF4E50;
    border-radius: 1.2em;
    width: 8.3em;
    height: 2.4em;
    margin-bottom: -2em;
    margin-left: 0.1em;
    text-align: center;
    line-height: 2.8em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.3em;
    padding-left: 0.2em;
}

.step__heading {
    font-size: 2.4em;
    letter-spacing: -0.03em;
}

.step__description {
    color: #cccccc;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    margin-top: -1.35em;
    margin-left: -0.1em;
    margin-bottom: 1.2em;
    line-height: 1.2em;
}

.step-first {
    background: no-repeat url(../img/How_works_1.jpeg);
    background-position-x: -18.8em;
    background-position-y: -2em;
}

.step-second {
    background: no-repeat url(../img/How_works_2.jpeg);
    background-position-x: -16em;
    background-position-y: -1.6em;
}

.step-second .step__wrapper {
    padding-left: 1.8em;
}

.step-second .step__heading {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    letter-spacing: -0.01em;
}

.step-second .step__number {
    margin-left: 0.3em;
}

.step-second .step__description {
    margin-left: 0.1em;
    letter-spacing: 0.014em;
}

.step-third {
    background: no-repeat url(../img/How_works_3.jpeg);
    background-position-x: -17.6em;
    background-position-y: -2.3em;
}

.partners {
    position: inherit;
    top: 11.8em;
    width: 92em;
    margin: 0 auto;
}

.partners__heading {
    text-align: center;
    font-size: 2.14em;
    margin-left: -3px;
    letter-spacing: -0.003em;
}

.partners-list {
    position: relative;
    top: 0.4em;
    left: 0.2em;
    display: inline-flex;
    justify-content: space-between;
    width: 96em;
}

.person {
    width: 22em;
    flex-grow: 1;
}

.person-photo {
    border-radius: 50%;
    margin: 0 3.9em;
    height: 12em;
}

.hobby-wrapper {
    position: relative;
    bottom: 3.8em;
    width: 3.2em;
    height: 3.2em;
    left: 12.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.4em solid #FFF;
    border-radius: 50%;
}

.hobby {
    height: 1.7em;
}

.hobby-tv {
    background-color: #FF4E50;
}

.hobby-coffee {
    background-color: #1CD7AD;
}

.hobby-chemical {
    background-color: #FFA507;
}

.hobby-message {
    background-color: #4E73DB;
}

.person-description {
    text-align: center;
    font-size: 1.4em;
    margin-top: -2.55em;
}

.person-description__name {
    margin-top: -2.7em;
    margin-left: -3em;
    letter-spacing: -0.02em;
    color: #333333;
}

.heather {
    top: 0px;
    left: -1.45em;
}

.lucas {
    top: -0.02em;
}

.bradley {
    top: -0.2em;
}

.person-description__quote {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #666666;
    width: 16em;
    margin-left: -0.9em;
    letter-spacing: 0.01em;
}

.lucas-quote {
    position: relative;
    left: 0.18em;
    top: -0.1em;
    width: 15.7em;
}

.bradley-quote > p {
    margin-top: -0.2em;
}

.other-partners {
    position: relative;
    left: 4px;
    width: 20em;
    margin: 2.2em auto 0;
}

.other-partners button{
    width: 13.7em;
    background: inherit;
    border-radius: 10em;
    line-height: 2.4em;
    border: solid;
    border-color: #FF4E50;
    color: #FF4E50;
    font-weight: 600;
    font-size: 1.4em;
    letter-spacing: -0.01em;
    padding-left: 0.4em;
    padding-top: 0.15em;
}

.ideas{
    padding-top: 19.3em;
}

.ideas-heading {
    width: 19em;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 0.0078em;
}

.ideas-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 96em;
    margin: 0 auto;
    padding-top: 1.4em;
    justify-content: space-around;
    height: 99em;
}

.ideas-list > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31em;
    width: 30em;
    border-radius: 0.4em;
}

.idea-wrapper {
    height: 100%;
    width: 100%;
    border-radius: 0.4em;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.idea-wrapper > p {
    color: #fff;
    font-size: 2.2em;
    text-align: center;
    width: 76%;
    padding: 0 0 2px 4px;
}

.activity {
    background: no-repeat url(../img/Ideas_1.jpeg);
    background-position: -10.1em -1.7em;
}

.wellnes {
    background: no-repeat url(../img/Ideas_2.jpeg);
    background-position: -0.9em -1.4em;
}

.extrime {
    background: no-repeat url(../img/Ideas_3.jpeg);
    background-position: -30em -2.6em;
}

.extrime > p {
    margin-top: 1em;
}

.games {
    background: no-repeat url(../img/Ideas_4.jpeg);
    background-position:-7.7em -2.7em;
}

.education {
    background: no-repeat url(../img/Ideas_5-6.jpeg);
    background-position: -0.1em -5em;
    flex-basis: 62em;
}

.relaxation {
    background: no-repeat url(../img/Ideas_7-8.jpeg);
    background-position: -1.4em -6.9em;;
    flex-basis: 62em;
}

.travelling {
    background: no-repeat url(../img/Ideas_9.jpeg);
    background-position: -23.5em -1.6em;;
}

.search-heading {
    margin: 0 auto;
    width: 48em;
    padding-top: 4.6em;
}

.search-heading__heading {
    font-size: 2.2em;
    text-align: center;
    letter-spacing: -0.015em;
    margin-left: -4px;
}

.search-heading__description {
    font: 1.8em Roboto, sans-serif;
    text-align: center;
    margin-top: 1.75em;
    margin-left: -0.2em;
    letter-spacing: 0.004em;
    color: #333;
}

.search-partner-form {
    margin: 0 auto;
    width: 41.2em;
    padding-top: 1.9em;
}

.search-partner-form  input{
    height: 3.5em;
    width: 23.2em;
    border: solid 0.2em #CCCCCC;
    border-radius: 0.3em;
}

.search-partner__search-button {
    margin-left: 0.5em;
    height: 2.9em;
    width: 11.43em;
    border-radius: 2em;
    border: none;
    background-color: #FF4E50;
    font-size: 1.4em;
    color: #fff;
}

footer {
    padding-top: 1.3em;
}

.red-line {
    border: 0.2em solid #ff4e50;
}

.footer-wrapper {
    height: 19em;
    width: 94em;
    margin: 0px auto;
    display: flex;
    padding-top: 1.6em;
}

.footer-logo {
    margin-left: -0.2em;
}

.footer-logo__heading {
    color: #ff4e50;
    font-size: 1.54em;
    text-transform: uppercase;
    letter-spacing: 0.07em;
}

.footer-navigation {
    margin-left: 9.5em;
    margin-top: 0.1em;
    display: flex;
    width: 25.1em;
    justify-content: space-between;
    font-size: 1.2em;
}

.company-list-nav{
    font: 1.4em Roboto, sans-serif;
    list-style-type: none;
    color: #666;
    line-height: 1.43em;
    margin: -0.26em 0 0 -2.4em;
    letter-spacing: -0.08em;
}

.partners-nav {
    margin-left: 14.1em;
}

.copyright {
    margin-left: 29em;
}

.copyright__represent {
    text-transform: uppercase;
    color: #ccc;
    margin-top: 1.6em;
    margin-left: 3em;
    margin-bottom: 0.7em;
    letter-spacing: 0.067em;
}

.copyright__link img{
    margin-left: -0.01em;
}